<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.codeboy.android.cycleviewpager.example">

    <application
        android:allowBackup="true"
        android:icon="@drawable/cycleviewpager_ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="me.codeboy.android.cycleviewpager.example.NoCycleTextView" >
        </activity>
        <activity android:name="me.codeboy.android.cycleviewpager.example.CycleTextView" >
        </activity>
        <activity android:name="me.codeboy.android.cycleviewpager.example.WheelCycleTextView" >
        </activity>
        <activity android:name="me.codeboy.android.cycleviewpager.example.EventCycleTextView" >
        </activity>
        <activity android:name="me.codeboy.android.cycleviewpager.example.FixedCycleTextView" >
        </activity>
        <activity android:name="me.codeboy.android.cycleviewpager.example.NestedCycleTextView" >
        </activity>
        <activity android:name=".MainUI" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
