<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.codeboy.android.cycleviewpager.example">

    <application
        android:allowBackup="true"
        android:icon="@drawable/example_cycleviewpager_icon"
        android:label="@string/cycle_view_pager_app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="me.codeboy.android.cycleviewpager.example.example.NoCycleTextView"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="me.codeboy.android.cycleviewpager.example.example.CycleTextView"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="me.codeboy.android.cycleviewpager.example.example.WheelCycleTextView"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="me.codeboy.android.cycleviewpager.example.example.EventCycleTextView"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="me.codeboy.android.cycleviewpager.example.example.IndicatorCustom1CycleTextView"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="me.codeboy.android.cycleviewpager.example.example.NestCycleTextView"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="me.codeboy.android.cycleviewpager.example.example.IndicatorCustom2CycleTextView"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MainUI"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
